<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration"/> 
  </configSections>
  <unity>
    <!--定义类型别名-->
    <aliases>
      <add alias="IPerson" type="Model.IPerson,Model"/>
      <add alias="Student" type="Model.Student,Model"/>
    </aliases>
    <!--容器-->
    <container name="MyContainer">
      <!--映射关系-->
      <register type="IPerson" mapTo="Student" name="Student"></register>
    </container>
  </unity>

    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.1"/>
    </startup>
</configuration>
